.normal{
	color:black;
	font-family:Comic Sans MS;
  font-size: 150%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #1d1716;
}

/* <!-- This is to create the buttons --> */
.buttons{
	border-radius: 8px;
	border: 2px solid #555555;
	float: left;
	margin-right: 20px;
	font-family:Comic Sans MS;
	background-color: #402a23;
	color:white;
}

.buttons:hover{
	background-color: #a55233;
	color:black;
}

/* <!-- This it to create the banner image  --> */
.banner {
padding-top: 400px;
padding-bottom: 400px;
background-color: #FCECDD;
background-image: url("Images/Banner.png");
background-repeat: no-repeat;
background-size: contain;
background-position: center ;
}

/* <!-- This is to create the dropdown button --> */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #a55233;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* For Year 1 page */
h2.dotted{
  border-style: dotted;
  }

/* For Table to tabulate skills */
table, th, td {
  border: 3px solid ;
  border-collapse: collapse;
  border-color:#402a23;
}